@import "./bootstrap.min.css";

html, body {
    margin: 0;
    padding: 0;
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: url("../../public/assets/images/loop-bg.png");
    background-size: 300px;
    opacity: .1;
    z-index: -1;
}



.children-loader {
    filter: blur(3px);
    width: 100%;
    
    //if contains .MuiTypography-
    [class^="MuiTypography-"] {
        opacity: .8;
    }

    .MuiTypography-h4{

    }

    .MuiTypography-h5{

    }
    .load-hidden{
        display: none;
    }
}

.MuiTypography-root {
    a {
        color: inherit;
        text-decoration: none;
    }
}

.w100 {
    width: 100%;
}

a:not(.no-anim) {
    text-decoration: none !important;
    padding: 0 0 4px 0;
	border-bottom: 2px solid transparent;
	transition: 0.3s ease;
	&:hover{
        font-weight: bold;
        color: inherit;
		padding: 0 0 6px 0;
		border-color: var(--app-palette-primary-main);
	}
}

.MuiAvatar-circular{
    border: solid 2px var(--app-palette-primary-main);
    padding: 2px;
    img {
        border-radius: 50%;
    }
}

br {
    //no select
    user-select: none;

}